:root {
  --1st-colour: #ADD8E6;
  --2nd-colour: #ffb6c1;
  --background-gradient: linear-gradient(0deg, rgba(0, 139, 139, 1) 0%, rgba(222, 245, 245, 1) 98%);
}

.navbar {
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: column;
}

nav .container-fluid {
  height: 15vh;
  display: flex;
  flex-direction: column;
}
nav .container-fluid .nav1 {
  height: 15vh;
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .container-fluid .nav1 input {
  width: 100px;
}
nav .container-fluid .nav1 .column {
  padding: 10px;
}
nav .container-fluid #logo {
  max-height: 15vh;
  padding-bottom: 10px;
  padding-left: 10px;
}
nav .container-fluid #cartlogo {
  max-height: 50px;
  height: 50px;
  width: 50px;
}
nav .container-fluid .navbar-brand {
  margin: 0;
}
nav .container-fluid .nav2 {
  background-color: #ffb6c1;
  width: 100vw;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container-fluid a {
  color: black;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 15vh;
  background-color: var(--2nd-colour);
  align-items: center;
}
footer a {
  color: black;
  text-decoration: none;
}
footer .column {
  align-items: flex-start;
}

body {
  font-family: "Cinzel Decorative", serif;
}

.bg-body-tertiary,
header {
  background-color: transparent !important;
}

body::before {
  background: rgb(0, 139, 139);
  background: var(--background-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -10;
}

.main .container-fluid {
  margin-top: 5vh;
  padding: 0;
}
.main .container-fluid h2 {
  margin-bottom: 2vh;
}
.main .container-fluid div {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.main .container-fluid div div {
  width: 40%;
}
.main .container-fluid div div img {
  width: 100%;
}
.main .container-fluid div .column {
  flex-direction: column;
  line-height: 3vh;
}
.main .container-fluid .C1 {
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  background-image: url(/src/HomeGood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s;
}
.main .container-fluid .C1 div {
  width: 60%;
  text-align: center;
  color: white;
  margin-bottom: -25vh;
}
.main .container-fluid .C2 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}
.main .container-fluid .C2 img {
  border-radius: 35%;
}
.main .container-fluid .C2 .column img {
  width: 150px;
  height: 150px;
}
.main .container-fluid .C2 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.main .container-fluid .C2 #relative {
  position: relative;
  top: -10vh;
}
.main .container-fluid .C3 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}
.main .container-fluid .C4 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

.mission .container-fluid {
  margin-top: 10vh;
}
.mission .container-fluid p {
  font-size: 16px;
}
.mission .container-fluid h2 {
  margin-bottom: 4vh;
}
.mission .container-fluid .column {
  max-width: 40vw;
  justify-content: space-around;
}
.mission .container-fluid img {
  max-height: 60vh;
  margin-bottom: 10vh;
  border-radius: 10px;
}

.crystals .container-fluid {
  text-align: center;
  margin-top: 10vh;
}
.crystals .container-fluid .title {
  margin-bottom: 5vh;
}
.crystals .container-fluid div {
  justify-content: center;
  min-height: 40vh;
}

/*# sourceMappingURL=index.css.map */
