.nav-link {
    color: black;
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 24px;
}

.navbar-brand img {
    margin-top: -5px;
    width: 30px;
    height: 100%;
}

.dropdown-menu {
    margin-right: 12px;
}

#cart {
    margin-right: 5px;
}

.main {
    padding: 0;
}

.right a img {
    margin-top: 0;
}

.navbar-collapse {
    padding-left: 12px;
}

.right .navbar-brand {
    margin-right: 0px;
}

.right2 {
    display: none;
}

.me-2 {
    width: 250px;
}

.container {
    padding: 2rem 0rem;
}

th, td {
    border: 0;
    color: #666;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

.modal-footer {
    height: 100% !important;
}

.modal-header {
    justify-content: center;
}

.custom-qty-input {
    max-width: 50px;  
    text-align: center;
}



.mainIntro {
    background-image: url(src/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

/* products */

.prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;  
    max-width: 150px;
    height: 100%;  
    text-align: center;
}

.card-body {
    flex-grow: 1;  
    display: flex;  
    flex-direction: column;  
    justify-content: space-between;  
}

.btn-primary {

    margin-top: auto; 
}

.card img {
    max-height: 100px;
    margin-bottom: auto;  
}

.modal-header img {
    height: 100%;
    width: 100%;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

/* login page */

.loginscreen {
    background-color: lightblue;
    text-align: center;
    height: 716px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.loginscreen #user {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.loginscreen .btn {
    margin-top: 30px;
    width: 200px;
}

.loginscreen h4 {
    font-size: 20px;
    margin-top: 60px;
}

.loginscreen input {
    text-align: center;
}

#logalert {
    margin-top: 30px;
}

/* Signup */
#signup div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#signup .buttonz {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.signnup {
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    height: 716px;
}

#signup p {
    margin-bottom: 20px;
}

/* queries */

@media (min-width: 425px) and (max-width: 767px) {

    .card {
        max-width: 170px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* global */
  
    p, b, h4, h5 {
        font-size: 26px !important;
    }

    .btn-primary, .btn-secondary {
        font-size: 22px;
    }

    /*nav*/
    .navbar-brand img {
        margin-top: -5px;
        width: 50px;
        height: 100%;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar-toggler-icon {
        height: 40px;
        width: 40px;
    }

    .nav-link, .dropdown-item {
        font-size: 22px;
    }

    /* accounts */
    .loginscreen input {
        width: 500px;
        margin-left: 50px;
        margin-right: 50px;
        height: 50px; 
        font-size: 22px;
    }

    .loginscreen, .signnup {
        min-height: 705px;
        height: 100%;
    }

    .alert {
        margin: 30px 15px;
        font-size: 26px;
    }

    .signnup input {
        width: 400px;
    }

    #signup {
        margin: 30px;
        margin-top: 5px;
    }

    /*prod*/
    .card {
        max-width: 350px;
        width: 350px !important;
        height: 375px;
    }

    .prod {
        height: 100%;
    }
    .card img {
        max-height: 200px !important;
    }

    .card-body h5, .card-text {
        font-size: 22px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    /* global */
  
    p, b, h4, h5 {
        font-size: 26px !important;
    }

    .btn-primary, .btn-secondary {
        font-size: 22px;
    }

    /*nav*/
    .navbar-brand img {
        margin-top: -5px;
        width: 50px;
        height: 100%;
    }

    .navbar-brand {
        font-size: 30px;
        margin-top: 7px;
    }

    .navbar-toggler-icon {
        height: 40px;
        width: 40px;
    }

    .nav-link, .dropdown-item {
        font-size: 18px;
    }

    .navbar-collapse {
        padding-right: 12px;
    }

    .right {
        display: none;
    }

    .right2 a img {
        margin-top: 0;
    }
    
    .right2 .navbar-brand {
        padding-right: 12px;
    }

    .right2 {
        display: block;
    }

    /* accounts */
    .loginscreen input {
        width: 500px;
        margin-left: 200px;
        margin-right: 200px;
        height: 50px; 
        font-size: 22px;
    }

    .loginscreen, .signnup {
        min-height: 705px;
        height: 100%;
    }

    .alert {
        margin: 30px 15px;
        font-size: 26px;
    }

    .signnup input {
        width: 400px;
    }

    #signup {
        margin: 30px;
        margin-top: 5px;
    }

    /*prod*/
    .card {
        max-width: 350px;
        width: 350px !important;
        height: 375px;
    }

    .prod {
        height: 100%;
    }
    .card img {
        max-height: 200px !important;
    }

    .card-body h5, .card-text {
        font-size: 22px !important;
    }

    /*cart */
    .modal-content {
        width: 500px;
    }

    .modal-dialog {
        justify-content: center;
    }
}

@media (min-width: 1440px) {

    /* global */
  
    p, b, h4, h5 {
        font-size: 26px !important;
    }

    .btn-primary, .btn-secondary {
        font-size: 22px;
    }

    /*nav*/
    .navbar-brand img {
        margin-top: -5px;
        width: 50px;
        height: 100%;
    }

    .navbar-brand {
        font-size: 30px;
        margin-top: 7px;
    }

    .navbar-toggler-icon {
        height: 40px;
        width: 40px;
    }

    .nav-link, .dropdown-item {
        font-size: 18px;
    }

    .navbar-collapse {
        padding-right: 12px;
    }

    .right {
        display: none;
    }

    .right2 a img {
        margin-top: 0;
    }
    
    .right2 .navbar-brand {
        padding-right: 12px;
    }

    .right2 {
        display: block;
    }

    /* accounts */
    .loginscreen input {
        width: 500px;
        margin-left: 400px;
        margin-right: 400px;
        height: 50px; 
        font-size: 22px;
    }

    .loginscreen, .signnup {
        min-height: 705px;
        height: 100%;
    }

    .alert {
        margin: 30px 15px;
        font-size: 26px;
    }

    .signnup input {
        width: 400px;
    }

    #signup {
        margin: 30px;
        margin-top: 5px;
    }

    /*prod*/
    .card {
        max-width: 350px;
        width: 350px !important;
        height: 375px;
    }

    .prod {
        height: 100%;
    }
    .card img {
        max-height: 200px !important;
    }

    .card-body h5, .card-text {
        font-size: 22px !important;
    }

    /*cart */
    .modal-content {
        width: 500px;
    }

    .modal-dialog {
        justify-content: center;
    }
}