:root {
  --1st-colour: #ADD8E6;
  --2nd-colour: #ffb6c1;
  --background-gradient: linear-gradient(0deg, rgba(0, 139, 139, 1) 0%, rgba(222, 245, 245, 1) 98%);
}

.navbar {
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  display: flex;
  flex-direction: column;
}

nav .container-fluid {
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
nav .container-fluid .nav1 {
  height: 15vh;
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .container-fluid .nav1 input {
  width: 100px;
}
nav .container-fluid .nav1 .column {
  padding: 10px 5vh;
  justify-content: center;
  min-width: 249px;
}
nav .container-fluid #logo {
  max-height: 15vh;
  padding-bottom: 15px;
}
nav .container-fluid #cartlogo {
  max-height: 35px;
  height: 35px;
  width: 35px;
  padding-left: 5px;
}
nav .container-fluid #cart {
  height: 40px;
  width: 40px;
}
nav .container-fluid .navbar-brand {
  margin: 0;
}
nav .container-fluid .nav2 {
  background-color: #ffb6c1;
  width: 100vw;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container-fluid a {
  color: black;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 15vh;
  background-color: var(--2nd-colour);
  align-items: center;
}
footer a {
  color: black;
  text-decoration: none;
}
footer .column {
  align-items: flex-start;
}

body {
  font-family: "Cinzel Decorative", serif;
}
body p {
  font-family: "Raleway", sans-serif;
}
body strong {
  font-weight: bold !important;
}

.bg-body-tertiary,
header {
  background-color: transparent !important;
}

body::before {
  background: rgb(0, 139, 139);
  background: var(--background-gradient);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -10;
}

.main .container-fluid {
  margin-top: 5vh;
  padding: 0;
}
.main .container-fluid h2 {
  margin-bottom: 2vh;
}
.main .container-fluid h1 {
  margin-top: 9vh;
  font-size: 45px;
}
.main .container-fluid div {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.main .container-fluid div div {
  width: 40%;
}
.main .container-fluid div div img {
  width: 100%;
}
.main .container-fluid div .column {
  flex-direction: column;
  line-height: 3vh;
}
.main .container-fluid .C1 {
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  background-image: url(../../src/Graphic1..png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: background-size 0.5s;
}
.main .container-fluid .C1 div {
  width: 60%;
  text-align: center;
  color: white;
  margin-bottom: -25vh;
}
.main .container-fluid .C2 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}
.main .container-fluid .C2 img {
  border-radius: 35%;
}
.main .container-fluid .C2 .column img {
  width: 150px;
  height: 150px;
}
.main .container-fluid .C2 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.main .container-fluid .C2 #relative {
  position: relative;
  top: -8vh;
  pointer-events: none;
}
.main .container-fluid .C2 #glowTrigger {
  position: relative;
  top: 2vh;
}
.main .container-fluid .C2 #absGlow {
  position: absolute;
  top: -3.5vh;
  left: -4.5vh;
  height: 220px;
  width: 240px;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 100px;
  z-index: -1;
}
.main .container-fluid .C2 #glowTrigger:hover > #absGlow, .main .container-fluid .C2 #relative > #absGlow {
  background: radial-gradient(circle, rgba(255, 182, 193, 0.8) 0%, transparent 100%);
}
.main .container-fluid .C3 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}
.main .container-fluid .C3 .bigger {
  font-size: 20px;
}
.main .container-fluid .C4 {
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

.mission .container-fluid {
  margin-top: 10vh;
}
.mission .container-fluid p {
  font-size: 16px;
}
.mission .container-fluid h2 {
  margin-bottom: 4vh;
}
.mission .container-fluid .column {
  max-width: 40vw;
  justify-content: space-around;
}
.mission .container-fluid img {
  max-height: 60vh;
  margin-bottom: 10vh;
  border-radius: 10px;
}

.crystals .container-fluid,
.footer .container-fluid {
  text-align: center;
  margin-top: 15vh;
  width: 60%;
}
.crystals .container-fluid h2,
.footer .container-fluid h2 {
  margin-bottom: 3vh;
}
.crystals .container-fluid .title,
.footer .container-fluid .title {
  margin-bottom: 10vh;
}
.crystals .container-fluid div,
.footer .container-fluid div {
  justify-content: center;
  min-height: auto;
  margin-bottom: 10vh;
}
.crystals .container-fluid div h3,
.footer .container-fluid div h3 {
  margin-bottom: 3vh;
}
.crystals .container-fluid .space-around,
.footer .container-fluid .space-around {
  margin-bottom: 0;
  align-items: center;
}
.crystals .container-fluid .space-between,
.footer .container-fluid .space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.crystals .container-fluid .space-between div,
.footer .container-fluid .space-between div {
  max-width: 50%;
}
.crystals .container-fluid .space-between .fw,
.footer .container-fluid .space-between .fw {
  width: 100%;
}
.crystals .container-fluid .space-between .db,
.footer .container-fluid .space-between .db {
  max-width: 50%;
  min-width: 50%;
}
.crystals .container-fluid .space-between .d1,
.footer .container-fluid .space-between .d1 {
  justify-content: flex-start;
  max-width: 50%;
  min-width: 50%;
  padding: 2vh;
}
.crystals .container-fluid .space-between .d1 div,
.footer .container-fluid .space-between .d1 div {
  min-width: 100%;
}
.crystals .container-fluid img,
.footer .container-fluid img {
  max-height: 60vh;
  max-width: 100%;
  margin-bottom: 10vh;
  border-radius: 10px;
  margin-left: 10vh;
}
.crystals .container-fluid #crystalmask,
.footer .container-fluid #crystalmask {
  margin: 0;
  width: 90%;
  margin-bottom: 2vh;
}
.crystals .container-fluid h4,
.footer .container-fluid h4 {
  padding: 2vh 0;
}
.crystals .container-fluid .margintop,
.footer .container-fluid .margintop {
  margin-top: 3vh;
}

#sidebar2 {
  top: 50% !important;
  padding-right: 0 !important;
}

#sidebar,
#sidebar2 {
  width: 20vh;
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  position: fixed;
  top: 45%;
  transform: translateY(-50%);
  left: 4%;
  padding: 3vh 0;
  height: auto;
  border: 1px solid black;
}
#sidebar ul,
#sidebar2 ul {
  list-style: none;
  padding: 0;
}
#sidebar ul li,
#sidebar2 ul li {
  padding: 10px;
}
#sidebar ul a,
#sidebar2 ul a {
  text-decoration: none;
  color: black;
}
#sidebar ul a:hover,
#sidebar2 ul a:hover {
  background-color: #555;
}
#sidebar.collapsed,
#sidebar2.collapsed {
  width: 50px;
  overflow: hidden;
  left: -50px;
}
#sidebar.collapsed ul,
#sidebar2.collapsed ul {
  display: none;
}

#sidebar-toggle {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  transition: left 0.5s;
}
#sidebar-toggle.collapsed + main {
  margin-left: 50px;
}

.S1 p,
.S1 button {
  margin-top: 2vh;
}
.S1 button {
  background-color: lightpink;
  border-radius: 10px;
  padding: 1.5vh 3vh;
}
.S1 .space-around {
  align-items: flex-start !important;
}
.S1 .space-around div {
  max-width: 50%;
  padding: 3vh;
}

.carousel-slide {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 370vh;
}
section div {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2vh;
}
section .ContainerCarousel1 {
  position: absolute;
  min-height: 40vh;
  height: 40vh;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
}
section .ContainerCarousel1 div {
  background-color: transparent;
}
section .ContainerCarousel2 {
  top: 82vh;
  position: absolute;
  min-height: 60vh !important;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-bottom: 0 !important;
}
section .ContainerCarousel2 h3 {
  padding-top: 3vh;
}
section .ContainerCarousel2 div {
  background-color: transparent;
}
section .ContainerCarousel2 .prev-button,
section .ContainerCarousel2 .next-button {
  top: 60%;
}
section #prevButton2 {
  top: 112vh;
  left: 25vh;
}
section #nextButton2 {
  top: 112vh;
  right: 25vh;
}
section .ContainerCarousel3 {
  top: 147vh;
  position: absolute;
  min-height: 60vh !important;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-bottom: 0 !important;
}
section .ContainerCarousel3 h3 {
  padding-top: 3vh;
}
section .ContainerCarousel3 div {
  background-color: transparent;
}
section #prevButton3 {
  top: 177vh;
  left: 25vh;
}
section #nextButton3 {
  top: 177vh;
  right: 25vh;
}
section .ContainerCarousel4 {
  top: 212vh;
  position: absolute;
  min-height: 60vh !important;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-bottom: 0 !important;
}
section .ContainerCarousel4 h3 {
  padding-top: 3vh;
}
section .ContainerCarousel4 div {
  background-color: transparent;
}
section #prevButton4 {
  top: 242vh;
  left: 25vh;
}
section #nextButton4 {
  top: 242vh;
  right: 25vh;
}
section .ContainerCarousel5 {
  top: 277vh;
  position: absolute;
  min-height: 60vh !important;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-bottom: 0 !important;
}
section .ContainerCarousel5 h3 {
  padding-top: 3vh;
}
section .ContainerCarousel5 div {
  background-color: transparent;
}
section #prevButton5 {
  top: 307vh;
  left: 25vh;
}
section #nextButton5 {
  top: 307vh;
  right: 25vh;
}
section .ContainerCarousel6 {
  top: 342vh;
  position: absolute;
  min-height: 60vh !important;
  max-height: 40vh;
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-bottom: 0 !important;
}
section .ContainerCarousel6 h3 {
  padding-top: 3vh;
}
section .ContainerCarousel6 div {
  background-color: transparent;
}
section #prevButton6 {
  top: 372vh;
  left: 25vh;
}
section #nextButton6 {
  top: 372vh;
  right: 25vh;
}

.prev-button,
.next-button {
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  position: absolute;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0vh;
}

/*# sourceMappingURL=index.css.map */
