:root {
    --1st-colour: #ADD8E6;
    --2nd-colour: #ffb6c1;
    --background-gradient: linear-gradient(0deg, rgba(0, 139, 139, 1) 0%, rgba(222, 245, 245, 1) 98%);
}


.navbar {
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: column;
}

nav .container-fluid {
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .nav1 {
        height: 15vh;
        min-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        input {
            width: 100px;
        }

        .column {
            padding: 10px 5vh;
            justify-content: center;
            min-width: 249px;
        }
    }

    #logo {
        max-height: 15vh;
        padding-bottom: 15px;
    }

    #cartlogo {
        max-height: 35px;
        height: 35px;
        width: 35px;
        padding-left: 5px;
    }

    #cart {
        height: 40px;
        width: 40px;
    }

    .navbar-brand {
        margin: 0;
    }

    .nav2 {
        background-color: var(--2nd-colour);
        width: 100%;
        min-height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: black;
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 15vh;
    background-color: var(--2nd-colour);
    align-items: center;

    a {
        color: black;
        text-decoration: none;
    }

    .column {
        align-items: flex-start;
    }
}

body {
    font-family: 'Cinzel Decorative', serif;

    p {
        font-family: 'Raleway', sans-serif;
    }

    strong {
        font-weight: bold !important;
    }

    main>.container-fluid {
        min-height: 65vh;
    }

    input {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
}

.bg-body-tertiary,
header {
    background-color: transparent !important;
}


body::before {
    background: rgb(0, 139, 139);
    background: var(--background-gradient);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    opacity: .90;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
}

.main .container-fluid {
    margin-top: 5vh;
    padding: 0;

    h2 {
        margin-bottom: 2vh;
    }

    h1 {
        margin-top: 9vh;
        font-size: 45px;
    }

    div {
        margin: 0;
        display: flex;
        flex-direction: row;

        div {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .column {
            flex-direction: column;
            line-height: 3vh;
            justify-content: center;
        }

    }

    .C1 {
        min-height: 90vh;
        justify-content: center;
        align-items: center;
        background-image: url(../../src/Graphic1..png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: background-size 0.5s;


        div {
            width: 60%;
            text-align: center;
            color: white;
            margin-bottom: -25vh;
        }
    }


    .C2 {
        justify-content: space-around;
        align-items: center;
        min-height: 70vh;

        img {
            border-radius: 35%;
        }

        .column img {
            width: 150px;
            height: 150px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }

        #relative {
            position: relative;
            top: -8vh;
            pointer-events: none;
        }

        #glowTrigger {
            position: relative;
            top: 2vh;
        }

        #absGlow {
            position: absolute;
            top: -3.5vh;
            left: -4.5vh;
            height: 220px;
            width: 240px;
            transition: box-shadow 0.3s ease-in-out;
            border-radius: 100px;
            z-index: -1;
        }

        #glowTrigger:hover>#absGlow,
        #relative>#absGlow {
            background: radial-gradient(circle, rgba(255, 182, 193, 0.8) 0%, transparent 100%);
        }
    }

    .C3 {
        justify-content: space-around;
        align-items: center;
        min-height: 70vh;

        .bigger {
            font-size: 20px;
        }
    }

    .C4 {
        margin-top: -10vh;
        justify-content: space-around;
        align-items: center;
        min-height: 70vh;
        font-size: larger;
    }
}

.mission .container-fluid {
    margin-top: 15vh;
    margin-bottom: 10vh;

    p {
        font-size: 16px;
    }

    h2 {
        margin-bottom: 4vh;
    }

    .column {
        max-width: 40vw;
        justify-content: space-around;
    }

    img {
        max-height: 60vh;
        margin-bottom: 10vh;
        border-radius: 10px;
    }
}

.crystals .container-fluid,
.footer .container-fluid,
.registration .container-fluid {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 60%;

    h2 {
        margin-bottom: 3vh;
    }

    .title {
        margin-bottom: 10vh;
    }

    div {
        justify-content: center;
        min-height: auto;
        margin-bottom: 10vh;

        .d2 {
            margin-bottom: 0;
        }

        h3 {
            margin-bottom: 3vh;
        }
    }

    .space-around {
        margin-bottom: 0;
        gap: 2vh;
        align-items: center;
        flex: 1;

        .column {
            p {
                min-width: 100%;
            }
        }
    }

    .space-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            max-width: 50%;
        }

        .fw {
            width: 100%;
        }

        .db {
            max-width: 50%;
            min-width: 50%;
        }

        .d1 {
            justify-content: flex-start;
            max-width: 50%;
            min-width: 50%;
            padding: 2vh;

            div {
                min-width: 100%;
            }
        }
    }

    img {
        max-height: 560px;
        max-width: 420px;
        height: 560px;
        width: 420px;
        border-radius: 10px;
    }

    h4 {
        padding: 2vh 0;
    }

    .margintop {
        margin-top: 3vh;
    }

    .S1 {

        p,
        button {
            margin-top: 2vh;
        }



        .space-around {

            align-items: flex-start !important;

            div {
                max-width: 50%;
                padding: 3vh;
            }

        }
    }

    .carousel-slide {
        display: none;
    }

    section {
        height: 75vh;

        div {
            background-color: rgba(255, 255, 255, 0.4);
            padding: 2vh;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        .ContainerCarousel2 {
            top: 40vh;
            position: absolute;
            min-height: 60vh;
            max-height: 60vh;

            border-radius: 5vh;

            width: 55%;
            max-width: 55%;
            min-width: 55%;
            margin-bottom: 0 !important;

            h3 {
                padding-top: 3vh;
            }

            div {
                background-color: transparent;
            }
        }

        #prevButton2 {
            top: 70vh;
            left: 20vh;
        }

        #nextButton2 {
            top: 70vh;
            right: 20vh;
        }
    }

    .prev-button,
    .next-button {
        transform: translateY(-50%);
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 24px;
        cursor: pointer;
        outline: none;
        position: absolute;
    }

    #mask {
        margin-top: 5vh;
        margin-bottom: 0;
    }
}

.login .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 0;

    .space-around {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20vh;
        width: auto;

        div {
            width: 35vh;
            height: auto;
            flex: 1;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 60vh;
        gap: 2vh;
    }

    p,
    h3,
    h2 {
        text-align: center;
    }

    input {
        width: 100%;
    }

    #signup {
        p {
            text-align: left;
        }

        h2 {
            text-align: left;
            margin-bottom: 2vh;
        }

        div {
            margin-bottom: 2vh;
        }
    }
}

#sidebar {
    width: 15vh;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    left: 2%;
    padding: 3vh 0;
    height: auto;
    border: 1px solid black;

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #ffb6c1;
            }
        }
    }

    &.collapsed {
        width: 50px;
        overflow: hidden;
        left: -50px;

        ul {
            display: none;
        }
    }
}

#sidebar2 {
    top: 50%;
    padding-right: 0;
    width: 15vh;
    background-color: rgba(255, 255, 255, 0.4);
    color: #fff;
    position: fixed;
    transform: translateY(-50%);
    left: 2%;
    padding: 3vh 0;
    height: auto;
    border: 1px solid black;

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: #ffb6c1;
            }
        }
    }

    &.collapsed {
        width: 50px;
        overflow: hidden;
        left: -50px;

        ul {
            display: none;
        }
    }
}

#sidebar-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    transition: left 0.5s;

    &.collapsed+main {
        margin-left: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {

    .crystals .container-fluid {

        .space-around {
            div {
                display: flex;
                max-width: 45% !important;

                img {
                    max-height: 454px;
                    max-width: 265px;
                }
            }
        }
    }

    #mask {
        margin-top: 0vh !important;
    }

    #sidebar2 {
        top: 55%;
        padding: 0;
    }

    #prevButton2,
    #prevButton3,
    #prevButton4,
    #prevButton5,
    #prevButton6 {
        left: 20vh !important;
    }

    #nextButton2,
    #nextButton3,
    #nextButton4,
    #nextButton5,
    #nextButton6 {
        right: 20vh !important;
    }



    .ContainerCarousel2 {
          h3 {
            padding-top: 0 !important;
        }
    }
}