<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mermagikal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid navigation">
        <div class="column" style="width: 100%;">
          <div class="nav1">
            <div class="column">
              <a class="navbar-brand" href="/account" id="Login">Login</a>
            </div>
            <a class="navbar-brand" href="index.html">
              <img src="src/mermaid logo.png" alt="Logo" id="logo" class="d-inline-block align-text-center">
            </a>
            <div class="column">
              <div>
                <a class="navbar-brand" href="https://www.instagram.com/mermagickal/">
                  <img src="src/bam.png" alt="Instagram" id="cartlogo">
                </a>
                <a class="navbar-brand" href="https://www.facebook.com/Mermagickal">
                  <img src="src/facebookraw.png" alt="Facebook" id="cartlogo">
                </a>
                <a class="navbar-brand" id="cart" data-bs-toggle="modal" data-bs-target="#cartModal">
                  <img src="src/2111601.png" alt="Cart" id="cart">
                </a>
              </div>
            </div>
          </div>
          <div class="nav2">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="mission.html">Mermission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="crystals.html">Crystal Creations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="services.html">Healing Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="shops.html">Workshops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="test.html">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="faq.html">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="nav3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding: 2vh">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="mission.html">Mermission</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="crystals.html" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Crystal Creations
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="crystals.html#">Channels</a></li>
                    <li><a class="dropdown-item" href="crystals.html#">Bracelets</a></li>
                    <li><a class="dropdown-item" href="crystals.html#">Necklaces</a></li>
                    <li><a class="dropdown-item" href="crystals.html#masks">Eye Masks</a></li>
                    <li><a class="dropdown-item" href="crystals.html#crystals">Crystals</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="services.html" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Healing Services
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="services.html#CrystalJewlery">Channeled Crystal Jewlery</a></li>
                    <li><a class="dropdown-item" href="services.html#DistanceReiki">Distance Reiki Energy Healing</a></li>
                    <li><a class="dropdown-item" href="services.html#ReikiOracleCards">Reiki Oracle Cards</a></li>
                    <li><a class="dropdown-item" href="services.html#Medium30">Med Readings</a></li>
                    <li><a class="dropdown-item" href="services.html#OracleEmail">Oracle Card Reading</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="shops.html">Workshops</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="test.html">Testimonials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="faq.html">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </nav>
  </header>
  <main class="crystals">
    <div class="container-fluid">
      <h2>Testimonials</h2>
      <section>
        <div class="ContainerCarousel2">
          <div class="carousel" id="carousel2">
            <div class="carousel-slide">
              <h3>Oracle Card Reading / Workshops
              </h3>
              <p>Thank you so much for my amazing oracle card reading. The information you
                gave me was exactly what I needed to hear - some of the things you said were
                exactly as I have been thinking and the rest of what was brought up will definitely
                be incorporated in my new year. Definitely one of the best, most helpful oracle
                card readings I've ever had. Thank you so much!!! Also thank you for the
                amazing vision board workshop - such a beautiful meditation!!! Looking forward
                to the next workshop!! - Jennifer</p>
            </div>

            <div class="carousel-slide">
              <h3>Readings
              </h3>
              <p>Rachel is truly such a ray of light and so intuitive, she is the embodiment of
                magical mermaid and celestial energy. If you have gotten the chance to receive
                a reading from her or even witness her deliver a reading, it is so magical to
                watch. She has a very unique way of receiving and always delivers such
                profound and loving messages. She has a very deep and strong connection to
                cosmic beings, and the information she brings forth is always exactly what you
                need to hear. Not only is she on point with her readings, she delivers the
                information in such an empathetic, beautiful and healing way. I would 100%
                recommend working with her if you feel called. She is so unique and so magical.
                - Ariel </p>
            </div>
            <div class="carousel-slide">
              <h3>Readings
              </h3>
              <p>To know Rachel is to know love. She pours her heart into everything she does
                because she genuinely loves to do it and wants the best for you. I've received a
                reading from her and it wasn't your typical reading or like any others I've gotten
                before!!!! She goes above and beyond! She is so connected and uses her
                multidimensional gifts that connect you to your higher self for your highest good.
                There were things she was picking up on that I have felt in my soul and have
                questioned and now have confirmation from. She is like a lost soul sister meant
                to be providing spiritual work!! I've seen her channel and am blown away every
                time by how she lets Spirit flow through her. I could go on and on but the most
                important is that you won't regret any service or product you receive from her!!
                Thank you Rachel for being you, I am so lucky to have you in my life and am
                truly grateful.
                - Sam</p>
            </div>
            <div class="carousel-slide">
              <h3>Readings
              </h3>
              <p>Rachel is amazing!!! So talented and on point. I’ve had numerous readings with
                her and she is always so accurate and I always look forward to her readings.
                She is truly an amazing human being and is always so genuine and positive.
                Highly recommend her!
                - Paula</p>
            </div>
            <div class="carousel-slide">
              <h3>Readings
              </h3>
              <p>Rachel has the most gentle, kind and open energy. She is so in tune with Spirit
                and so receptive. I had the honour of witnessing her expand and explore her
                abilities and it was incredible to watch her step into her power and step into the
                light leader that she was always meant to be. Rachel is extremely authentic in
                her practices and does everything from a heart centred space. She has a way of
                turning pain into power and acts of service. I’m so blessed that the universe has
                brought this lighthouse into my life. Highly recommend any service Rachel has
                to offer. Run, don’t walk.
                ⁃ Ashley</p>
            </div>

            <div class="carousel-slide">
              <h3>Mediumship</h3>
              <p style="font-size: smaller;" id="reduce">Our dear friend Steve was always a force to reckoned with. He was so full of life
                and brought a smile to my face with every glance, wink and laugh. I can still hear
                his voice calling my name from the other side of the bar. He always had to be
                heard and that has not changed. He came through in multiple medium readings
                Rach was doing for other clients. Steve sent me messages through Rachel
                which reconnected us. My grandmothers, being no different from Steve had to
                be heard. They came through at full force one unexpected evening while Rach
                and I were discussing meeting up to do a reading. This impromptu medium
                reading was amazing. From memories, to messages and signs of their presence,
                I can truly feel at peace knowing they are here to support me and connect
                whenever I need. I cannot thank her enough for this incredible gift. The whole
                experience was emotional, healing and truly unbelievable. Rachel, I love you!
                You have an amazing gift that needs to continuously be explored and shared
                with the world.
                - Steph</p>
            </div>
            <div class="carousel-slide">
              <h3>Mediumship</h3>
              <p>Thank you Rachel for bringing me messages from my passed on loved ones.
                They resonated with me! I'm so grateful for their love, support, and
                encouragement and acknowledging that I'm on the right path. I have to say that
                Uncle Dave's presence perplexed me. Afterwards I felt called to telephone my
                mother and found out that her father had a brother, Dave, so it was my mom's
                uncle that came thru! Amazing! XO
                - Linda</p>
            </div>
            <div class="carousel-slide">
              <h3>Mediumship</h3>
              <p style="font-size: smaller;" id="reduce">Although I have been very active in the spiritual area for most of my life, I had
                never had a formal medium reading performed. I cannot recommend Rachel
                enough, as the depth and accuracy of the information and messages were so
                personalized that for one of the few times in my life I was literally speechless.,
                Rachel is an absolute natural medium and it was easy to tell, because when
                different Spirits came through I was aware of the change in her vernacular. Of
                the many messages that came through, one really stuck with me and that was
                the handwritten letters that I used to exchange with my Aunt, who taught me
                calligraphy with a fountain pen. Through Rachel's mediumship reading, I have
                been guided to link up witches and starseeds around the world to reclaim the
                lost art of handwritten letters, and I am so grateful to Rachel for that. Of the
                cards that Rachel pulled for me, each had a message and as I listened to
                Rachel's voice, I was holding the very crystals that she mentioned. Furthermore
                today, I have found my very special gold fountain pen and glass Japanese
                fountain pen with post of ink and am eternally grateful to Rachel for reminding
                me of this wonderful gift.
                - Lynda</p>
            </div>
            <div class="carousel-slide">
              <h3>Mediumship</h3>
              <p>I had my very first mediumship reading with my dear friend Rachel this week. I
                am still in awe of what a gift she has. Going into it, I really had no idea what to
                expect but I can confidently say it was one of the most healing experiences I
                have had. The messages she was able to share with me were really something I
                needed to hear. During the meeting there were moments that I could pin point
                exactly who was coming through with a message. However, at times I was a bit
                unsure about whether or not the messages were meant for me. Rachel helped
                me understand that Spirit can also come through in order for me to relay
                messages to others. Some of these messages meant for others allowed for my
                loved ones to continue in their healing process. I know for a fact that my dear
                friend has an incredible gift and she has the ability to help so many people. You
                are such a beautiful blessing Rachel. Thank you so much, xo!
                - Manon</p>
            </div>

            <div class="carousel-slide">
              <h3>Jewellery</h3>
              <p>I love, love my dazzling druzy carnelian necklace! I am thrilled with the love and
                care in which you packaged my exquisite pendant! The photo does not truly
                capture its beauty! Thank you so much Mermagickal!
                - Linda</p>
            </div>

            <div class="carousel-slide">
              <h3>Channeled Crystal Jewellery
              </h3>
              <p>I loved my channeled crystal bracelet. The messages that came along with it and
                the crystals were so perfectly matched to me as an individual. It is absolutely
                stunning and I cannot be anymore grateful for being gifted with something of
                such beauty. So thank you once again from the bottom of my heart.
                - Jade</p>
            </div>
            <div class="carousel-slide">
              <h3>Channeled Crystal Jewellery
              </h3>
              <p>What can I say about Mermagickal and her amazing channeled crystal jewellery.
                To start they are BEAUTIFUL, stunning in fact! Rachel picked up on many
                aspects of my soul’s history that I had never experienced before and led me into
                researching my soul’s path. Her messages from my Guides were accurate and
                made me feel super seen. Her and I have a cosmic and soul’s connection and
                feel very in tune which was evident by the way she saw into my current life’s
                journey. All the messages were very healing. I have reread her messages
                multiple times in awe of the accuracy. If you’ve been considering getting crystal
                jewellery done by Rachel with Spirit guidance, this is your SIGN to connect with
                her!
                - Brittany</p>
            </div>
            <div>
              <button class="prev-button" id="prevButton2"><<</button>
              <button class="next-button" id="nextButton2">>></button>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <div class="column">
        <a href="footer.html#F1">Disclaimer</a>
        <a href="footer.html#F2">Shipping</a>
        <a href="footer.html#F3">Returns</a>
      </div>
      <div>
        <a href="footer.html#F4">Contact</a>
      </div>
    </footer>

    <!-- Popup Cart -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title" id="exampleModalLabel">Your Shopping Cart</h5>
          </div>
          <div class="modal-body">
            <div id="emptyCartMessage" class="alert alert-info text-center">
              Your shopping cart is currently empty.
            </div>

            <div id="cartTableContainer" style="display: none;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody id="cartTableBody">
                  <!-- Cart items will be dynamically added here -->
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-end" id="initTotal" style="display: none !important;">
              <h5>Total: <span id="cartTotal" class="price text-success">0$</span></h5>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="/create-checkout-session" method="POST">
              <button id="checkout" type="submit" class="btn btn-success" style="display: none;">Checkout</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </main>
  <script>

    const carouselInterval = 30000;

    function rotateCarousel(carouselId) {
      const $carousel = $(`#${carouselId}`);
      const $slides = $carousel.find('.carousel-slide');
      let currentIndex = 1;

      function showSlide(index) {
        $slides.hide();
        $slides.eq(index).fadeIn();
      }

      showSlide(currentIndex);

      $(`#prevButton${carouselId.slice(-1)}`).on('click', function () {
        currentIndex = (currentIndex - 1 + $slides.length) % $slides.length;
        showSlide(currentIndex);
      });

      $(`#nextButton${carouselId.slice(-1)}`).on('click', function () {
        currentIndex = (currentIndex + 1) % $slides.length;
        showSlide(currentIndex);
      });


      setInterval(() => {
        currentIndex = (currentIndex + 1) % $slides.length;
        showSlide(currentIndex);
      }, carouselInterval);
    }

    rotateCarousel('carousel1');
    rotateCarousel('carousel2');
    rotateCarousel('carousel3');
    rotateCarousel('carousel4');
    rotateCarousel('carousel5');
    rotateCarousel('carousel6');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="utils/cart.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="utils/authcheck.js"></script>
  <script>document.addEventListener('DOMContentLoaded', () => {
    const nav2 = document.querySelector('.nav2');
    const nav1 = document.querySelector('.nav1');
    const nav3 = document.querySelector('.nav3');
    const nav1Height = nav1.clientHeight;

    // Function to toggle the 'fixed' class on .nav2
    function toggleNav2Fixed() {
      if (window.scrollY > nav1Height) {
        nav2.classList.add('fixed');
        nav3.classList.add('fixed');
      } else {
        nav2.classList.remove('fixed');
        nav3.classList.remove('fixed');
      }
    }

    // Initial call to set the initial state
    toggleNav2Fixed();

    // Add scroll event listener to update when scrolling
    window.addEventListener('scroll', toggleNav2Fixed);
  });</script>
</body>

</html>