.nav-link {
    color: black;
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 24px;
}

.navbar-brand img {
    margin-top: -5px;
}

.main {
    padding: 0;
}

.right a img {
    margin-top: 0;
}

.navbar-collapse {
    padding-left: 12px;
}

.right .navbar-brand {
    margin-right: 0px;
}

.me-2 {
    width: 250px;
}

.container {
    padding: 2rem 0rem;
}

th, td {
    border: 0;
    color: #666;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}


.modal-footer {
    padding-top: 0rem;
}

.custom-qty-input {
    max-width: 50px; /* Adjust the width as needed */
    text-align: center;
}



.mainIntro {
    background-image: url(../src/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}

/* products */

.prod {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column; /* Stack card elements vertically */
    max-width: 150px;
    height: 100%; /* Ensure the card takes up all vertical space */
}

.card-body {
    flex-grow: 1; /* Allow card-body to grow and fill vertical space */
    display: flex; /* Use flex layout for card-body content */
    flex-direction: column; /* Stack card-body content vertically */
    justify-content: space-between; /* Push content to the top and bottom */
}

.btn-primary {
    align-self: flex-end; /* Align the button to the bottom of the card-body */
    margin-top: auto; /* Push the button to the bottom */
}

.card img {
    max-height: 100px;
    margin-bottom: auto; /* Push the image to the top of the card */
}


@media (min-width: 1440px) {
    .navbar {
        height: 60px;
        padding: 0;
    }

    .me-2 {
        width: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1420px) {
    .navbar {
        height: 60px;
        padding: 0;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .nav-item a {
        font-size: 12px;
    }
}