.nav-link {
    color: black;
  }

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 24px;
}

.navbar-brand img{
    margin-top: -5px;
}

@media (min-width: 1440px) {
    .navbar {
        height: 60px;
        padding: 0;
    }

    .me-2 {
        width: 400px;
    }
}